/*project css*/
.project .card{
    border-style: solid;
    border-color: white;
    width: 30vw;
    height: 32vh;
}

.project .card .card-body{
    background-position-x: center;
    background-position-y: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.project-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    width: 30vw;
    height: 4vh;
    text-align: center;

    /*This size should fill the container it is in*/
}
.projects-container{
      
    display: grid;
    grid-template-columns: auto auto;
    min-height: 50vh;
}

.hackathon-container{
    display: grid;
    grid-template-columns: auto auto;
    min-height: 50vh;
}
.project-hackathon-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3vw;
    padding-bottom: 0.5vh;
}